body {
    width: 100%;
    height: 1000px;
    background: linear-gradient(#64a7e6, #91e59c) no-repeat;
}

span {
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-top: 300px;
}