body {
    background: linear-gradient(to right, rgb(207, 141, 174), rgb(132, 140, 218));
}

h1 {
    margin: 150px 0 0 0;
    text-align: center;
    font-size: 5rem;
    color: rgb(245, 239, 231);
}