body {
    background: url(./assets/img/contrabass.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: grayscale(100%);
}

.keys {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    margin: 8px;
    font-size: 1.5rem;
    padding: 25px 7px;
    transition: all 0.3s;
    cursor: pointer;
    width: 100px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.534);
    text-shadow: 0 0 5px #000000;
}

.playing {
    transform: scale(1.1);
    border-color: #FFC600;
    box-shadow: 0 0 10px #FFC600;
}

kbd {
    display: block;
    font-size: 40px
}

.sound {
    font-size: 14px;
    color: #FFC600;
}